  /* Add your CSS styles here */
  #video {
    width: 50%;
    height: 50%;
}
#tryOnArea {
    position: relative;
    width: 100%;
    height: auto;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
